services:

  housekeeper:
    image: lobanovsky/housekeeper:${TAG}
    container_name: housekeeper
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_URL: ${POSTGRES_URL}
      MAIL_HOST: ${MAIL_HOST}
      MAIL_USER_NAME: ${MAIL_USER_NAME}
      MAIL_USER_PASSWORD: ${MAIL_USER_PASSWORD}
      MY_ACCOUNT: ${MY_ACCOUNT}
      MY_INN: ${MY_INN}
      MY_NAME: ${MY_NAME}
      AUTH_TOKEN_KEY: ${AUTH_TOKEN_KEY}
      ELDES_API_URL: ${ELDES_API_URL}
      ELDES_API_EMAIL: ${ELDES_API_EMAIL}
      ELDES_API_PASSWORD: ${ELDES_API_PASSWORD}
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/opt/app/logs
      - ./receipts:/opt/app/receipts
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`backend.housekpr.ru`) && PathPrefix(`/api`)"
    networks:
      - housekpr-network

networks:
  housekpr-network:
    external: true