name: Build and Deploy to mr17dom1

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set short Git SHA
        id: vars
        run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/housekeeper:${{ env.SHORT_SHA }}

  deploy:
    name: Deploy to Ubuntu Server
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Set short Git SHA for deploy
        id: vars
        run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Create .env file for Docker
        run: |
          echo "TAG=${{ env.SHORT_SHA }}" > .env
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER}}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD}}" >> .env
          echo "POSTGRES_URL=${{ secrets.MR17_POSTGRES_URL}}" >> .env
          echo "MAIL_HOST=${{ secrets.MAIL_HOST}}" >> .env
          echo "MAIL_USER_NAME=${{ secrets.MAIL_USER_NAME}}" >> .env
          echo "MAIL_USER_PASSWORD=${{ secrets.MAIL_USER_PASSWORD}}" >> .env
          echo "MY_INN=${{ secrets.MY_INN}}" >> .env
          echo "MY_NAME=${{ secrets.MY_NAME}}" >> .env
          echo "MY_ACCOUNT=${{ secrets.MY_ACCOUNT}}" >> .env
          echo "AUTH_TOKEN_KEY=${{ secrets.AUTH_TOKEN_KEY }}" >> .env

      - name: copy files to host
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.MR17_HOST_IP }}
          username: ${{ secrets.MR17_HOST_USERNAME }}
          key: ${{ secrets.MR17_HOST_KEY }}
          source: ".env, docker-compose.yml"
          target: ${{ secrets.MR17_HOST_PROJECT_PATH }}

      - name: docker pull && up
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.MR17_HOST_IP }}
          username: ${{ secrets.MR17_HOST_USERNAME }}
          key: ${{ secrets.MR17_HOST_KEY }}
          script: |
            echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            cd ${{ secrets.MR17_HOST_PROJECT_PATH }}
            docker compose pull
            docker compose up -d
